.sketch-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 10vh);
}

.stage-container {
    grid-area: 1 / 1 / 6 / 9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.sketch-header {
    grid-area: 1 / 1 / 2 / 6;
    justify-content: space-between;
}

.user {
    text-transform: capitalize;
    font-size: 22px;
}

.main-area {
    grid-area:3 / 1 / 11 / 6;
  
    display: grid;
    grid-template-columns: repeat(10, 5fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-between;
}

.sidebar {
    grid-area: 1 / 9 / 6 / 11;

    display:grid;
    grid-template-rows: repeat(12, 1fr);
}

.sidebar__heading {
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 24px;
    color: #8a2be2;
}

.user-sketch-list{
    list-style: none;
    margin-bottom: 12px;
}

.sketch-item {
    font-size: 20px;
    color: #6495ed;
    margin-top: 8px;
}
